* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  user-select: none;
}

#chessboard {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.selected {
  background-color: rgba(94, 157, 176, 0.5);
}

.can-move-to {
  border: solid 4px #8477b1;
  cursor: pointer;
}

.dragging {
  background-color: transparent;
  opacity: 1;
}
