* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  user-select: none;
}

#chessboard {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

/* Change to grid with no wrap */
.square {
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: #262626;
}

.square > .line-indexer {
  position: absolute;
  top: 6px;
  left: 6px;
}

.square > .column-indexer {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.piece {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.selected {
  background-color: rgba(94, 157, 176, 0.5);
}

.can-move-to {
  border: solid 4px #8477b1;
  cursor: pointer;
}

.dragging {
  background-color: transparent;
  float: left;
  z-index: 1;
}
